* {
    margin: 0;
    padding: 0;
}

/*html,*/
/*body*/
/*{*/
/*  overflow: hidden;*/
/*}*/

html {
    background: #000;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.slider {
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}


.section {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
    scroll-snap-align: start;
}

.section h2 {
    opacity: 0;
    transform: translateX(150px);
    transition: all 2s ease;
}

.section.active h2 {
    opacity: 1;
    transform: translateX(0);
}

section:nth-child(odd) {
    justify-content: flex-end;
}