* {
  margin: 0;
  padding: 0;
}

body,html {
  overflow: hidden;
  background: #000;
}

h1 {
  color: grey;
  text-align: center;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}